@import 'src/styles/mixins';

.container {
  padding-top: 24px;
  display: flex;
  gap: 24px;
  .left,
  .right {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .left {
    width: 300px;
  }
  .right {
    width: 100%;
  }
  @include lg-device {
    flex-direction: column;
    gap: 8px;
    .left {
      width: 100%;
      gap: 8px;
    }
  }
}
