@import 'src/styles/variables';
@import 'src/styles/mixins';

.wrapper {
  background: no-repeat url('/images/pages/home/yourWay/bg_img.svg');
  background-position: top left;
  @include big-lg-device {
    background: no-repeat url('/images/pages/home/yourWay/bg_img_mobile.svg');
  }
  .yourWay {
    padding: 6.813rem 0 1.688rem;
    @include landing-container(10rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @include big-lg-device {
      padding: 6.25rem 1rem 0;
    }
    .content {
      display: flex;
      justify-content: space-between;
      @include big-lg-device {
        flex-direction: column-reverse;
      }
      .textBlock {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-width: 28.25rem;
        @include big-lg-device {
          max-width: none;
          margin: 0 auto;
        }
        .textContent {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
      }
      .imageContent {
        position: relative;
        width: 30.75rem;
        height: 26.625rem;
        @include big-lg-device {
          @include fit-current-size(width, 2rem, 1);
          @include fit-current-size(height, 2rem, 0.868);
        }
        cursor: pointer;

        .playBtn {
          width: auto;
          height: auto;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  .showForDesktop {
    @include big-lg-device {
      display: none;
    }
  }
  .showForMobile {
    display: none;
    @include big-lg-device {
      display: block;
    }
  }
}
