@import 'src/styles/variables';
@import 'src/styles/mixins';

.container {
  @include md-device {
    padding: 0;
  }
}

.wrapper {
  display: flex;
  @include md-device {
    flex-direction: column;
  }
  .photo {
    flex: 0 1 50%;
    border-radius: 8px 0 0 8px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 8px 0 0 8px;
      object-fit: cover;
    }
    @include md-device {
      border-radius: unset;
      img {
        border-radius: unset;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 50%;
    color: $white;
    background-color: $primary;
    padding: 30px;
    border-radius: 0 8px 8px 0;
    @include md-device {
      padding: 16px;
      border-radius: unset;
    }
    .textBlock {
      padding: 0 0 40px 0;
      .subtitle {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 30px;
        color: $white;
        @include xl-device {
          font-size: 20px;
          line-height: 26px;
        }
        @include md-device {
          margin-bottom: 30px;
        }
      }
      .title {
        font-size: 72px;
        line-height: 40px;
        margin-bottom: 30px;
        color: $white;
        @include xl-device {
          font-size: 62px;
        }
        @include md-device {
          font-size: 42px;
          margin-bottom: 16px;
        }
      }
      .text {
        font-size: 18px;
        line-height: 21px;
        color: $white;
        @include xl-device {
          font-size: 16px;
        }
      }
    }
    .bottom {
      .cards {
        display: flex;
        gap: 30px;
        margin-bottom: 20px;
        @include md-device {
          flex-direction: column;
          gap: 16px;
        }
        .card {
          flex: 0 1 33%;
          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
          @include xl-device {
            font-size: 16px;
          }
        }
      }
      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 185px;
        height: 40px;
        background-color: $white;
        border-radius: 160px;
        font-weight: 500;
        margin-bottom: 20px;
      }
    }
  }
}
