@import 'src/styles/mixins';

.container {
  @include padding-top-bottom;
  .title {
    font-size: 48px;
    margin-bottom: 60px;
    @include md-device {
      font-size: 32px;
    }
    @include sm-device {
      margin-bottom: 40px;
    }
  }
  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    @include md-device {
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm-device {
      grid-template-columns: repeat(1, 1fr);
    }
    .card {
      .cardTitle {
        margin-bottom: 10px;
      }
      .cardSubtitle {
        margin-bottom: 0;
      }
    }
  }
}
