@import 'src/styles/variables';
@import 'src/styles/mixins';

.footer {
  max-width: 100vw;
  background-color: $dark-grey;
  padding: 0 3.063rem;
  @include big-lg-device {
    padding: 0;
  }
  .content {
    width: 100%;
    height: 100%;
    @include landing-container(3.063rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @include big-lg-device {
      padding: 1.5rem 1rem;
    }
    .upContent {
      height: 5.688rem;
      display: flex;
      flex-direction: row;
      gap: 2.25rem;
      align-items: center;
      border-bottom: 0.125rem solid $asphalt;
      @include big-lg-device {
        height: auto;
        flex-direction: row-reverse;
        align-items: flex-start;
      }
      .linksWrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 2.25rem;
        @include big-lg-device {
          flex-direction: column;
          gap: 0.5rem;
        }
        .language {
          position: relative;
          margin-left: auto;
          @include big-lg-device {
            margin: 0;
          }
        }
      }
    }
    .downContent {
      @include h5;
      height: 5.313rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2.563rem;
      @include big-lg-device {
        flex-direction: column;
        height: auto;
        align-items: start;
        padding-top: 1rem;
        gap: 0.5rem;
      }
      .matchMinds {
        position: relative;
        margin-left: auto;
        color: $lang-white;
        @include big-lg-device {
          margin: 0;
        }
      }
      .down_link {
        color: $lang-white;
      }
    }
  }
}
