@import 'src/styles/variables';
@import 'src/styles/mixins';

.findToday {
  @include landing-container(10rem);
  margin: 6.25rem auto;
  background: $find-today-bg;
  border-radius: 1rem;
  @include big-lg-device {
    @include fit-current-size(max-width, 2rem, 1);
  }

  .contentWrapper {
    width: 100%;
    height: 100%;
    background-image: url('/images/pages/home/findToday/bg_left.svg'),
      url('/images/pages/home/findToday/bg_right.svg');
    background-position:
      left center,
      right center;
    background-repeat: no-repeat, no-repeat;
    padding: 3rem 1rem;

    @include big-lg-device {
      background-image: url('/images/pages/home/findToday/bg_left_mobile.svg'),
        url('/images/pages/home/findToday/bg_right_mobile.svg');
      margin: 6.25rem 0;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content {
    max-width: 23.563rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      @include h5;
      opacity: 0.6;
      color: $dirty-white;
      text-align: center;
      span {
        color: $purple;
      }
    }
  }
}
