@import 'src/styles/variables';
@import 'src/styles/mixins';

.wrapper {
  background: no-repeat url('/images/pages/home/greatWork/bg_img.svg');
  background-size: auto 100%;
  background-position: top -12.5rem right;
  @include big-lg-device {
    background: none;
  }
  .greatWork {
    padding: 8.875rem 0 1.688rem;
    @include landing-container(10rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @include big-lg-device {
      padding: 6.25rem 1rem 0;
    }
    .content {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      @include big-lg-device {
        flex-direction: column-reverse;
      }
      .textBlock {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-width: 29.063rem;
        @include big-lg-device {
          max-width: none;
          margin: 0 auto;
        }
        .textContent {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
      }
      .imageContent {
        position: relative;
        width: 38.125rem;
        height: 24.313rem;
        @include big-lg-device {
          @include fit-current-size(width, 2rem, 1);
          @include fit-current-size(height, 2rem, 0.637);
        }
      }
    }
  }
  .showLabel {
    position: absolute;
    top: 6.688rem;
    @include big-lg-device {
      position: static;
    }
  }
}
